//Main Color

$mainBlack : #202020;
$mainGold: #C09A5D;
$mainYellow : #CE8D27;
$mainGreen: #013e39;
$mainRed: #893434;
$mainWhite: #FDFEFD;


// Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$sm-breakpoint: 991px;
$lg-breakpoint: 1199px;