@import "./reset/variable";
@import "./reset/reset";
@import "./reset/mixins";

h2 {
 font-family: "Poppins", sans-serif;
}

.events {
    background-color: $mainRed;

    .container {
             color: white;
             
             h2 {
                 font-size: 2.5rem;
             }
    }

    iframe {
        max-width: 80%;
    }
}


