@import "./reset/variable";
@import "./reset/reset";
@import "./reset/mixins";

.hiddenScroll {
    overflow: hidden;
}

.displayNone {
    display: none;
}

//HEADER

.header {
    background-image: url("../public/assets/img/bg/background3_flou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    h2 {
        font-family: "Poppins", sans-serif;
    }
    .headerTitle {
        color: $mainYellow;
        font-size: 40px;
        font-family: "Vollkorn", sans-serif;
        font-weight: 700;
        text-shadow: 0px 4px 4px #000000;
    }

    .choiceDisplay {
        max-width: 50%;
        border-radius: 10px;
        background: #00000085;
        color: $mainYellow;

        p {
            font-size: 2rem;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            @media (max-width: 1025px) {
                font-size: 1rem;
            }
        }

        .buttons {
            width: 50%;
            a {
                @include goldenButton;
            }
        }
    }
}

//NAVBAR

.navbar {
    background-color: $mainBlack;
    text-shadow: 1px 1px 2px black;
    position: fixed;
    padding: 1rem 3rem;
    z-index: 2;
    top: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

    //HAMBURGER BUTTON

    .hamburger {
        transform: rotateZ(90deg);
        cursor: pointer;

        &:hover {
            transform: rotateZ(90deg) scale(1.3);
            transition: all 0.3s ease;
        }
        transform: rotateZ(90deg) scale(1);
        transition: all 0.3s ease;
    }

    .button {
        @include goldenButton;
    }
}

//BASIC COMPONENT (CONCEPT,

.concept {
    @include section($mainYellow);
}
.brasserie {
    @include section($mainBlack);
}
.ludotheque {
    @include section($mainGreen);
}

//REVIEWS OF CUSTOMER

.reviews {
    background-color: $mainBlack;
    min-height: 50vh;

    h2 {
        color: $mainWhite;
    }

    .hidePaid {
        height: 2rem;
        top: 10rem;
    }

    .avatar {
        width: 25px;
    }

    //Pop-Up of the package undisplayed

    a {
        display: none !important;
    }
}

// EVENTS CALENDAR

.events {
    background-color: $mainGreen;
    min-height: 90vh;

    .container {
        color: white;
    }

    iframe {
        max-width: 80%;
    }
}

//BOOKING

.reserver {
    background-color: $mainRed;
    min-height: 90vh;

    .reserve-img {
        width: 45%;
        figure {
            width: 20rem;
            height: 20rem;
            img {
                height: 100%;
            }
        }
    }

    .reserve-infos {
        width: 45%;
        .reserve-text {
            color: $mainWhite;
        }
        .reserve-button {
            @include goldenButton;
        }
    }
    @media (max-width: 1025px) {
        min-height: auto;
        width: 100%;
        .reserve-button {
            font-size: 1rem;
        }
    }
}

//SOCIAL NETWORK

.socialNetwork {
    background-color: $mainBlack;
    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
    }
}

.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.displayNone {
    display: none;
}

.hamburger {
    &:hover {
        transform: rotateZ(90deg) scale(1.3);
        transition: all 0.3s ease;
    }
    transform: rotateZ(90deg) scale(1);
    transition: all 0.3s ease;
}

.choice {
    max-width: 550px;
    border-radius: 10px;
    // font-size: 2.2rem;
    background: #00000085;
    color: $mainYellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around;
        width: 50%;
        button {
            background-color: $mainYellow;
            &:hover {
                background-color: darken($mainYellow, 10%);
            }
        }
    }
    min-height: 90vh;
}

//FOOTER

footer {
    background-color: $mainBlack;
    color: $mainWhite;

    font-family: "Poppins", sans-serif;

    figure {
        width: 10rem;
    }

    h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        @media (max-width: 1025px) {
            font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.2rem;
        @media (max-width: 1025px) {
            font-size: 1rem;
        }
    }
}

.container-slider {
    background-color: $mainBlack;
}

::-webkit-scrollbar {
    width: 0;
}
.carte {
    background-color: $mainGreen;
    height: fit-content;
    h2 {
        color: white;
        font-family: "Vollkorn", sans-serif;
        font-size: 2rem;
    }
}
.jeux {
    background-color: $mainBlack;
    color: white;

    h2 {
        font-family: "Vollkorn", sans-serif;
        font-size: 2rem;
    }
    p {
        width: 50%;
        margin: auto;
    }
    a {
        background-color: $mainYellow;
    }
    figure {
        margin: auto;
        width: 30rem;
        height: auto;
        img {
            width: 100%;
        }
    }
}
.ludotheque {
    background-color: $mainYellow;
    h2 {
        color: white;
        font-family: "Vollkorn", sans-serif;
        font-size: 2rem;
    }
    .search {
        min-width: fit-content;
        min-height: 20rem;
        background-color: $mainRed;
        color: $mainBlack;
        font-family: "Poppins", sans-serif;
        &-hastags {
            min-height: 10rem;
        }
        label {
            color: $mainWhite;
        }
    }
    .submit {
        width: fit-content;
        background-color: $mainGreen;
        margin: auto;
        color: white;
    }
}

.gameBlock {
    background-color: #ffffff;

    .fakeBlock {
        height: 145px;
        width: 145px;
        background-color: grey;
    }

    .gameBlockCategorie {
        background: $mainRed;
    }
}

// Admin

.adminSide {
    background-color: $mainBlack;
    min-height: 100vh;
    .formAdd {
        background-color: $mainRed;
        min-width: 60%;
        color: $mainWhite;
        .inputAdd {
            color: $mainBlack;
        }
        .buttonTest {
            background-color: $mainGreen;
            color: $mainWhite;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            &:hover {
                background-color: darken($mainGreen, 5%);
            }
        }
    }
    .form-group-checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
    }
    .formSearch {
        background-color: $mainRed;
        color: $mainWhite;
        .buttonTest {
            @include goldenButton;
        }
        input {
            color: $mainBlack;
        }
    }
    .buttonSupp {
        background-color: $mainYellow;
        color: $mainWhite;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        &:hover {
            background-color: darken($mainYellow, 10%);
        }
    }
}

.slick-dots li.slick-active button:before {
    color: white;
}

.review {
    background-color: $mainRed;
    max-width: 75%;
    border-radius: 2.5rem;
}

// Brasserie
.carte {
    min-height: 90vh;
    width: 100%;
    .menu-text {
        margin: auto;
        &-price {
            font-size: 2rem;
        }
    }
    .menuLi {
        color: $mainWhite;
        cursor: pointer;
        background-color: $mainYellow;
        box-shadow: 3px 3px 3px 3px #012e2ae5;
        text-align: center;
        &:hover {
            background-color: darken($mainYellow, 10%);
        }
    }
    .titleCardMenu {
        font-weight: bold;
        color: $mainWhite;
    }
    .menuUl {
        min-width: inherit;
    }
    .titleMobile {
        background-color: $mainYellow;
        &:hover {
            background-color: darken($mainYellow, 10%);
        }
    }
}
.cardMenu {
    color: $mainWhite;
    hr {
        width: 30%;
        margin: auto;
        padding: 1rem 0;
    }
}
